@import '~styles/variables';

@keyframes cursor {
    0% { border-color: white }
    30% { border-color: white }
    70% { border-color: transparent }
    100% { border-color: transparent }
}

.app {
    max-width: 1400px;
    min-height: 1200px;
    margin: auto;
    position: relative;
    overflow: auto;
}

.title {
    width: 698px;
    height: 85px;
    margin: auto;
    background: url('../images/title.png') no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -349px;
}

.top {
    display: flex;
    padding: 30px 40px 0;
    max-width: 1230px;
    margin: auto;
    position: relative;
}

.typing-box {
    width: 1379px;
    height: 731px;
    background: url('../images/box.png') no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -689.5px;
    margin-top: 50px;
    padding: 70px 90px 130px 85px;
    font-size: 24px;
    font-family: $monospace;
    line-height: 26px;
    letter-spacing: -1;
}

    .typing-box__input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        left: 50%;
    }

    .text-container {
        margin: auto;
        width: 90vw;
        max-width: 100%;

        i {
            border-left: solid 2px transparent;
        }

        .ok {
            color: $positive;
            background: transparentize($positive, .8);
        }

        .err {
            color: $negative;
            background: transparentize($negative, .6);
        }

        .cursor {
            border-left: solid 2px white;
            animation: cursor .3s infinite alternate;
        }

        .is-line-break {
            color: transparent;
            width: 0;
            display: inline-block;
            line-height: 26px;

            + .is-line-break {
                display: block;
            }

            &.err {
                width: 14px;
            }
        }
    }

.game-status, .game-time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $normal;
}

.game-status {
    font-size: 120px;
    font-weight: 900;
    top: 75px;

    .label {
        font-size: 22px;
        display: inline-block;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 6px;
    }
}

    .game-status--ahead {
        color: $positive;
    }

    .game-status--behind {
        color: $negative;
    }

.game-time {
    font-size: 35px;
    top: 188px;
    padding: 8px 20px;
    letter-spacing: 4px;
    font-weight: 600;
    color: rgba(255,255,255,.6);
    background: rgba(255,255,255,.1);
}
